@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
/* @import "rsuite/dist/rsuite.css"; */

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


input[type="radio"]{
  display: none;
}

.rs-progress-line-inner{
  background-color: rgba(186, 186, 186, 0.71)
}

.rs-progress-line-outer {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border-radius: 5px;
  overflow: hidden;
  vertical-align: middle;
}

.rs-progress-line {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 8px 0px;
    
}

.rs-progress, .rs-progress-icon-success, .rs-progress-icon-fail, .rs-progress-info-status {
  font-size: 16px;
  line-height: 1.25;
  
}

.rs-progress-line .rs-progress-info {
  width: 50px;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  height: 20px;
  padding-left: 12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  
}

.rs-progress, .rs-progress-icon-success, .rs-progress-icon-fail, .rs-progress-info-status {
  font-size: 25px;
  line-height: 1.25;
  font-weight: bold;
  text-align: center;
  
}




@tailwind base;
@tailwind components;
@tailwind utilities;
